<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1 class="title"> Welcome !
    <form action="{{route('AuthController.logout')}}" method="post">
      <button type="submit">Logout</button>
    </form>

    <h1 style="color:red;"> {{auth.user.email}} </h1>

    <form action="{{route('LessonsController.store')}}" method="post">
      <input type="text" name="title" placeholder="type the title of the lesson">
      <button type="submit">Save</button>
    </form>




    <ul>
      @each(lesson in lessons)
      <li> <a href="{{route(('LessonsController.show'),[lesson.id])}}">{{lesson.title}} </a></li>
      @endeach
    </ul>
</body>

</html>